[[source]]
name = "pypi"
url = "https://pypi.org/simple"
verify_ssl = true

[dev-packages]
pylint = "*"
pytest = "*"
pytest-watch = "*"
black = "==21.6b0"
snakeviz = "*"

[packages]
lark-parser = "*"
rich = "*"
ordered-set = "*"
requests = "*"
marshmallow-dataclass = "*"
marshmallow-polyfield = "*"
orjson = "*"

[requires]
python_version = "3.9.2"
