[[source]]
name = "pypi"
url = "https://pypi.org/simple"
verify_ssl = true

[dev-packages]
pylint = "*"
pytest = "*"
pytest-watch = "*"
autopep8 = "*"

[packages]
progress = "*"
lark-parser = "*"

[requires]
python_version = "3.9.2"
